*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 font-family: 'Poppins', sans-serif;
}
body {
    width: 100vw;
    height: 100vh;
    background: #bde0fe;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container {
    width: 400px;
    height: 320px;
    border: 2px solid #283618;
    padding: 10px;
    border-radius: 5px;
    /* overflow: scroll; */
    transition: height 0.5s, display 0.5s ease-in;
}
.time-container {
    width: 380px;
    padding: 5px;
    height: 250px;
    border-radius: 7px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #edf2f4;
}
.clock {
    height: 150px;
    display: inline-block;
    padding: 5px;
    margin: 0 auto;
    margin-bottom: 10px;
}
.btn-container {
    width: 380px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 10px auto;
}
.btn {
    width: 100px;
    padding: 3px;
    height: 40px;
    border: none;
    border-radius: 5px;
    outline: none;
    font-weight: 500;
    background: #118ab2;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    cursor: pointer;
}
.btn:active, #clear-alarm:active, #set-alarm:active {
    background: #034358de; 
}

/* Code below styles the alarm container and it's children */
.alarm-container {
    height: 150px;
    width: 380px;
    display: none;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    background: #8db600;
    border-radius: 5px;
    border: none;
    
}
#hour, #min, #ampm {
    width: 50px;
    height: 30px;
    padding: 5px;
    border: none;
    border-radius: 5px;
}
#clear-alarm, #set-alarm {
    width: 100px;
    padding: 3px;
    height: 40px;
    border: none;
    border-radius: 5px;
    outline: none;
    font-weight: 500;
    background: #118ab2;
    gap: 5px;
    cursor: pointer;
}